@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

* {   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: rgb(32, 89, 212);
    --text-color: #3b3b3b;
}

.action-button,
#profile-pic,
.profile-buttons,
input,
input:focus,
.link:hover {
    cursor: pointer;
}

/* Set areas */
.container {
    height: 100vh;
    width: 100%;
    font-family: sans-serif;

    display: grid;
    grid-template-rows: 7rem 1fr;
    grid-template-columns: minmax(15rem, 1fr) 6fr;
}

#header,
#header-container,
#navbar,
#content {
    width: 100%;
    height: 100%;
}





/* ---------- HEADER STYLES ---------- */

#header {
    grid-column: 2/-1;
    background-color: rgb(243, 247, 255);
    padding: 1rem;

    display: grid;
    place-items: center;
}

#header-container {
    background-color: #fff;
    box-shadow: 0 1px 5px #ccc;
    border-radius: 5px;
    padding: 0.6rem 1.5rem;
    font-family: 'Rubik', sans-serif;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#header-left-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}

.action-button {
    outline-color: transparent;
    border: none;
    background-color: #fff;
    color: var(--text-color);
    font-size: 1rem;
    user-select: none;
}

.action-button:hover {
    color: var(--main-color);
    transform: scale(1.04);
}

#down-caret {
    font-size: 0.8rem;
}

input,
input:focus {
  color: var(--text-color);
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  background-color: rgb(230, 230, 230);
  border-radius: 50px;
  border: none;
  outline: none;
  padding: 10px 20px;
  width: 400px;
  height: 40px;
  transition: width 0.5s;
}

input:not(:focus) {
  background-image: url('./images/search.svg');
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  height: 40px;
  width: 40px;
}

#header-right-side {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

#profile {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#profile-pic {
    border-radius: 50%;
    background-image: url('./images/profile-picture.jpg');
    background-repeat: no-repeat;
    background-position: 70% 15%;
    background-size: 150px;
    height: 65px;
    width: 65px;
    border: 2px solid var(--main-color)
}

#header-divider {
    height: 80%;
    width: 1px;
    background-color: #ccc;
}

.profile-buttons {
    padding: 1rem;
    outline-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
    background-color: transparent;
}

.profile-buttons:hover {
    transform: scale(1.04);
}

#profile-settings {
    background-image: url('./images/profile-settings.png')
}

#notifications {
    background-image: url('./images/notifications.png')
}

#messages {
    background-image: url('./images/messages.png')
}





/* ---------- MAIN CONTENT STYLES ---------- */

#main {
    
}

#content-header {
    background-color: rgb(243, 247, 255);
    font-family: 'Rubik', sans-serif;;
    font-size: 1.8rem;
    color: var(--text-color);
    padding: 1rem 0 1rem 3rem;
    border-bottom: 2px solid rgba(228, 228, 228, 0.4); 
}

#content {
    background-color: rgb(243, 247, 255);
    padding: 1rem;

    display: grid;
    /*
    grid-template-columns: repeat(6, minmax(12rem, 1fr));
    grid-template-rows: repeat(8, 20rem);
    */
}

.main-content-card {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 5px #ccc;
    border-radius: 5px;
}

#primary-metric-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(12rem, 1fr));
    grid-gap: 1rem;
}

.primary-metric {
    width: auto;
    height: 8rem;
}

.primary-metric:hover {
    border: 2px solid var(--main-color)
}

/*

#monthly-sales-trends {
    
}

#region-breakdown {
    
}

#expense-breakdown {
    
}

#top-performing-items {
    
}

#projects {
    
}

#recent-activity {
    
}

*/





/* ---------- NAVBAR STYLES ---------- */

#navbar {
    grid-row: 1/3;
    background-color: rgb(48, 48, 48);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo-container {
    margin-top: 1rem;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    text-shadow: -1px -1px 10px rgba(0, 0, 0, 0.4);
    font-family: 'Poppins', sans-serif;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#logo {
    margin-bottom: 11px;
    height: 2rem;
    width: 2rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.2);
}

#dash {
    color: #fff;
    font-size: 2rem;
    margin-left: 0.2rem;
}

#board {
    color: var(--main-color);
}

#navbar-links {
    padding: 1rem;
    list-style: none;
    width: 100%;
}

.link {
    color: rgb(170, 170, 170);
    margin: 1.4rem 1rem;

    display: flex;
    align-items: center;
}

.link:hover {
    color: var(--main-color);
    text-shadow: 1px 1px 10px var(--main-color);
}

.navbar-link-text {
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.navbar-link-img {
    height: 26px;
    width: 26px;
}

.navbar-divider {
    height: 1px;
    width: 100%;
    background-color: rgb(97, 96, 96);
}
