@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

* {   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: rgb(32, 89, 212);
    --text-color: #3b3b3b;
    --bg-color: rgb(243, 247, 255);
}

.action-button,
#profile-pic,
.profile-button,
input,
input:focus,
.link:hover,
#date-range-picker,
#menu-icon,
#menu-icon-2 {
    cursor: pointer;
}

.container {
    height: 100vh;
    width: 100%;

    display: grid;
    grid-template-rows: 7rem 1fr;
    grid-template-columns: minmax(15rem, 1fr) 6fr;
    grid-template-areas: 
        "navbar header"
        "navbar main";
}

.container.mobile {
    grid-template-rows: 100vh;
    grid-template-areas: "navbar";
    overflow: hidden;
}

#header,
#header-container,
#navbar {
    width: 100%;
    height: 100%;
}

#navbar,
#main {
    overflow: auto;
}

#menu {
    background-color: var(--bg-color);
    padding: 0.5rem 0 0 1rem;
    display: none;
    grid-area: menu;
}

#menu-icon,
#menu-icon-2  {
    height: 2.5rem;
    width: 2.5rem;
}

#menu-2 {
    background-color: rgb(48, 48, 48);
    padding: 0.5rem 0 0 1rem;
    display: none;
    align-self: flex-start;
}

.red {
    color: red;
}

.green {
    color: green;
}





/* ---------- HEADER STYLES ---------- */

#header {
    grid-area: header;
    background-color: var(--bg-color);
    padding: 1rem;

    display: grid;
    place-items: center;
}

#header-container {
    background-color: #fff;
    box-shadow: 0 1px 5px #ccc;
    border-radius: 5px;
    padding: 0.6rem 1.5rem;
    font-family: 'Rubik', sans-serif;
    color: var(--text-color);

    display: grid;
    grid-template-columns: auto 1fr;
}

#header-left-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    gap: 1.5rem;
}

.action-button {
    outline-color: transparent;
    border: none;
    background-color: #fff;
    color: var(--text-color);
    font-size: 1rem;
    user-select: none;
}

.action-button:hover {
    color: var(--main-color);
    transform: scale(1.04);
}

#down-caret {
    font-size: 0.8rem;
}

input,
input:focus {
  color: var(--text-color);
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  background-color: rgb(230, 230, 230);
  border-radius: 50px;
  border: none;
  outline: none;
  padding: 10px 20px;
  width: 380px;
  height: 40px;
  transition: width 0.5s;
}

input:not(:focus) {
  background-image: url('./images/search.svg');
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  height: 40px;
  width: 40px;
}

#header-right-side {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row-reverse wrap;
    gap: 1rem;
}

#profile {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#profile-pic {
    border-radius: 50%;
    background-image: url('./images/profile-picture.jpg');
    background-repeat: no-repeat;
    background-position: 70% 15%;
    background-size: 150px;
    height: 65px;
    width: 65px;
    aspect-ratio: 1 / 1;
    border: 2px solid var(--main-color)
}

#header-divider {
    height: 80%;
    width: 1px;
    background-color: #ccc;
}

.profile-button-container {
    display: flex;
    gap: 1rem;
}

.profile-button {
    padding: 1rem;
    outline-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
    background-color: transparent;
}

.profile-button:hover {
    transform: scale(1.04);
}

#profile-settings {
    background-image: url('./images/profile-settings.png')
}

#notifications {
    background-image: url('./images/notifications.png')
}

#messages {
    background-image: url('./images/messages.png')
}





/* ---------- NAVBAR STYLES ---------- */

#navbar {
    grid-area: navbar;
    background-color: rgb(48, 48, 48);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar.mobile {
    display: flex;
}

#logo-container {
    margin-top: 1rem;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    text-shadow: -1px -1px 10px rgba(0, 0, 0, 0.4);
    font-family: 'Poppins', sans-serif;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#logo {
    margin-bottom: 12px;
    height: 2rem;
    width: 2rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.2);
}

#dash {
    color: #fff;
    font-size: 2rem;
    margin-left: 0.2rem;
}

#board {
    color: var(--main-color);
}

#navbar-links {
    padding: 1rem;
    list-style: none;
    width: 100%;
}

.link {
    color: rgb(170, 170, 170);
    margin: 2rem 1rem;
    font-family: sans-serif;

    display: flex;
    align-items: center;
}

.link:hover {
    color: var(--main-color);
    text-shadow: 1px 1px 10px var(--main-color);
}

.navbar-link-text {
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.navbar-link-img {
    height: 26px;
    width: 26px;
}

.navbar-divider {
    height: 1px;
    width: 100%;
    background-color: rgb(97, 96, 96);
}





/* ---------- MAIN CONTENT STYLES ---------- */

#main {
    grid-area: main;
    background-color: var(--bg-color);
    padding: 0 1rem 1rem 1rem;
}

#content-header-container {
    background-color: var(--bg-color);
    font-family: 'Rubik', sans-serif;
    font-size: 1.8rem;
    color: var(--text-color);
    padding: 1rem 3rem 1rem 3rem;
    border-bottom: 2px solid rgba(228, 228, 228, 0.4); 

    display: flex;
    justify-content: space-between;
}

#date-range-picker {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
}

#date-range-picker:hover {
    background-color: #f1f1f1;
}

.card {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 5px #ccc;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
}

#main-info-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-gap: 1rem;
    padding: 1rem 0;
}

.main-info-card {    
    height: 8rem;
    padding: 1rem;
    color: var(--text-color);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-info-card:hover {
    border: 2px solid var(--main-color)
}

.main-info-card:hover .main-info-metric {
    color: var(--main-color);
}

.main-info-card-title {
    color: #777;
    font-size: 1rem;
}

.main-info-metric {
    font-size: 1.7rem;
    font-weight: bold;
}

.main-info-percent-change {
    font-size: 0.85rem;
}

#charts-container {
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-gap: 1rem;
}

#monthly-sales-trends {
    height: 35rem;
    padding: 1rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;
}

#chart-title {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: bold;
}

#chart {
    width: 100%;
    height: 100%;
    border-left: 1px dotted #000;
    border-bottom: 1px dotted #000;
}

#x-labels,
#y-labels {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--text-color);
}

#x-labels {
    grid-column: 2/3;
    grid-row: 3/4;
}

#y-labels {
    transform: rotate(270deg);
    margin-right: -0.8rem;
    grid-column: 1/2;
    grid-row: 1/4;
}

#region-breakdown {
    height: 35rem;
    padding: 1rem;

    display: grid;
    place-content: center;
    grid-template-rows: auto 1fr auto;
    grid-gap: 1rem;
}

#region-breakdown-header {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: bold;
}

#map {
    height: auto;
    width: 100%;
}

#best-worst-region-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(2rem, 1fr));
    grid-gap: 1rem;
}

.region-card {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.35);
    padding: 0.5rem 0 2rem 0;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.region-card-header {
    margin-bottom: 2rem;
    font-weight: bold;
    color: var(--text-color);
}

.region {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: bold;
}

#best-region {
    color: green;
}

#worst-region {
    color: red;
}

#item-performance {
    height: 20rem;
    overflow-x: scroll;
    margin: 1rem 0;
    padding: 1rem;

    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 1rem;
}

#item-performance-header {
    font-size: 1.5rem;
    color: var(--text-color);
    justify-self: start;
}

#last-30-days {
    font-size: 0.9rem;
    color: #999;
}

#table {
    min-width: 55rem;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);

    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.row {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.data {
    font-family: sans-serif;
    font-size: 0.75rem;
    display: grid;
    place-items: center;
}

.row:nth-child(even) {
    background-color: #eee;
}

#column-headers-row {
    font-size: 0.9rem;
    color: #555;
    align-items: center;
}

.column-header {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    display: grid;
    place-items: center;
}

.column-header:last-of-type {
    border: none;
}

#projects-activity-container {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

#projects {
    height: 25rem;
}

#activity {
    height: 25rem;
}   

#monthly-sales-trends,
#region-breakdown,
#item-performance,
#projects,
#activity,
.main-info-card {
    display: grid;
    place-items: center;
}





/* ---------- MEDIA QUERIES ---------- */

@media only screen and (max-width: 1350px) {
    input:focus {
        width: 240px;
    }
    #charts-container {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr; /* Can change this responsive row layout once content is added */
    }
    #column-headers-row {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 1200px) {
    .container {        
        grid-template-rows: 280px 1fr;
    }
    input:focus {
        width: 180px;
    }
    #header-left-side {
        justify-content: center;
    }
    #header-right-side {
        flex-direction: column;
    }
    #header-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1rem;
        overflow: auto;
    }
    #profile {
        flex-direction: column;
    }
    #header-divider {
        height: 1px;
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        grid-template-columns: 100%;
        grid-template-rows: auto 280px 1fr;
        grid-template-areas: 
            "menu"
            "header"
            "main";
    }
    #navbar {
       display: none;
    }
    #navbar-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .link {
        margin: 0.8rem 1rem;
    }
    .navbar-divider {
        width: 70%;
        margin: 0.5rem 0;
    }
    #menu,
    #menu-2 {
        display: block;
    }
}

@media only screen and (max-width: 500px) {
    .container {
        grid-template-rows: auto 310px 1fr;
    }
    #content-header-container {
        padding: 1rem;
    }
    #date-range-picker {
        font-size: 0.8rem;
    }
    #monthly-sales-trends {
        height: 30rem;
        padding: 1rem 0.5rem;
    }
    #x-labels,
    #y-labels {
        font-size: 0.9rem;
    }
    #y-labels {
        margin-right: -1.5rem;
    }
    #region-breakdown {
        height: 30rem;
    }
    #projects-activity-container {
        margin: 1rem 0;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1rem;
    }
    #projects,
    #activity {
        height: 20rem;
    }
    #column-headers-row {
        font-size: 0.9rem;
    }
    .data {
        font-size: 0.7rem;
    }
}
